{% extends "base.html"  %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="utf-8">
</head>
<body>
    <h1>Booking...</h1>
    <hr>
    <div class="form">
        <form method="POST" action="{% url 'book-room' pk=room.number %}">
            {% csrf_token %}
        
            <p><label for="room-number">Номер кімнати: </label>
            <input type="text" name="room-number" id="room-number"></p>


            <p><label for="start-time" >Дата заїзду </label>
            <input type="datetime-local" id="start-time"></input></p>

            <label for="end-time">Дата виїзду </label>
            <input type="datetime-local" id="end-time" name="end-time"></input>

            <p><button type="submit" class="btn-form">Забронювати</button></p>
        </form>
    </div>


</body>
</html>
{% endblock %}



                   