{% extends "base.html"  %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="utf-8">
</head>
<body>

    <form method="POST" action="{% url 'book-room' %}">
        {% csrf_token %}
    
        <label for="room-number">Номер кімнати: </label>
        <input type="text" name="room-number" id="room-number">


        <div id="roomHelp">Бронювання кімнати з.... по....</div>
        <label for="start-time" >З </label>
        <input type="datetime-local" id="start-time"></input>

        <label for="end-time">По ... </label>
        <input type="datetime-local" id="end-time" name="end-time"></input>

        <p><button type="submit">Забронювати</button></p>
    </form>


</body>
</html>
{% endblock %}



                   