<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Booking № {{ booking.id }}</h1>
    <hr>
    <div class="booking">
        
        <p>User: {{ booking.user.username }}</p>
        <p>Room: {{ booking.room }}</p>
        <p>Time out: {{ booking.start_time }} - {{ booking.end_time }}</p>

    </div>
    <a href="{% url 'room-list' %}">
        <button type="button">На головну</button>
    </a>
    

</body>
</html>
    
