{% extends "base.html"  %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
        <div class="detail">
            <h2><b>Кімната № </b>{{ rooms.number }}</h2>
            <hr>
            <p>Номер на {{ rooms.capacity }} людей.</p>
            <p> Розташування: {{ rooms.location }} </p>
            <p> {{rooms.discription}} </p>
        </div>
            <a href="{% url 'book-room' pk=room.number %}">
                <button type="button">Забронювати</button>
            </a>

 

</body>
</html>
{% endblock %}