{% extends "base.html"  %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Список кімнат:</h1>
    <hr>
    {% for room in rooms %}
        <p>Кімната № {{ room.number }}<p>
        <h3>Номер на {{ room.capacity }} людей. Розташований: {{ room.location }} {{room.discription}} </h3>
    {% endfor %}
    

    <a href="{% url 'book-room' %}">
        <button type="button">Забронювати</button>
    </a>

</body>
</html>
{% endblock %}