{% extends "base.html"  %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Список кімнат:</h1>
    <hr>
    {% for room in rooms %}
        <h3><a href="{% url 'room-detail' pk=room.number %}">
            Кімната № {{ room.number }} 
        </a>на {{ room.capacity }} людей. {{ room.location }}</h3>

    {% endfor %}
    


</body>
</html>
{% endblock %}